.account-dropdown {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px;
  box-shadow: 3px 3px 15px rgba(0,0,0, .2);
  font-size: .8em;
  font-weight: 700;
  /* border: 1px solid #bec3c7; */
  position: absolute;
}

.account-dropdown a {
  text-decoration: none;
}
