.oContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.oContainer .col {
  flex: 1;
}

.top {
  min-height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oContainer .left {
  border: 1px solid green;
  flex: 1;

}

.oContainer .right {
  border: 1px solid purple;
  flex: 3;

}
