.oContainer {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100vh;
}

.oContainer .col {
  flex: 1;
}

.top {
  min-height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.oContainer .left {
  /* border: 1px solid green; */
  flex: 1;
  max-width: 30vw;

}

.oContainer .right {
  /* border: 1px solid purple; */
  flex: 3;
  display: flex;
  flex-direction: column;
}

.dropdown {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px 15px;
  box-shadow: 3px 3px 15px rgba(0,0,0, .2);
  font-size: .8em;
  font-weight: 700;
  /* border: 1px solid #bec3c7; */
  position: absolute;
}

.dropdown a {
  text-decoration: none;
}
