.pre-open {
  color: #7e8c8d;
  font-family: 'josefin sans', arial, helvetica;
  margin-top: 40px;
}

.note {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0px 20px 0px 30px;
}

textarea {
  font-family: arial, cursive, sans-serif;
  border: none;
  outline: none;
  resize: none;
  overflow: auto;
  transition: .1s linear;
}

.tags {
  border-bottom: 1px dashed #ecf0f1;
  width: 100%;
  display: flex;
  align-items: center;
  color: #bec3c7;
  transition: .1s linear;
}

.tags textarea {
  flex: 1;
  /* border: 1px dashed #ecf0f1; */
  margin-left: 10px;
  color: #bec3c7;
}

.tags textarea::placeholder {
  color: #bec3c7;
}

.tags label {
  font-size: .8em;
}

.tags textarea:focus {
  color: #556c82;
}

.title {
  align-self: flex-start;
  min-width: 90%;
  font-size: 1.25em;
  padding: 15px 15px 8px 15px;
  border-bottom: 1px solid #ecf0f1;

  /* overflow-x: auto;
  overflow-y: hidden;
  box-sizing: border-box;
  width: auto; */
}

.title:focus {
  border-bottom: 1px solid #bec3c7;
}

.title-meta {
  text-align: right;
  /* position: absolute;
  right: 0;
  top: 92px; */
}

.title-meta p, .unsaved {
  padding: 0;
  margin: 0;
  display: inline-block;
  margin-right: 35px;
  font-size: 0.8em;
  color: #95a5a5;
  letter-spacing: 2px;
}

.title-meta .unsaved {
  color: rgba(53, 152, 219, 1);
  padding: 0px 5px;
  font-weight: 900;
}

.body {
  flex: 1;
  padding: 0px 30px 0px 0px;
}
