.selectNote {
  border: 1px solid #ecf0f1;
  list-style-type: none;
  cursor: pointer;
  padding: 10px 0px;
  transition: .05s linear;
  transition: background .1s linear;
}

.selectNote:hover {
  transition: border .1s linear;
  border: 1px solid steelblue;
  background-color: rgba(250,250,250,1);
}

.selectNote.active {
  background-color: rgba(240, 240, 240, 1);
}

.selectNote:active {
  transition: background .1s linear;
  background-color: rgba(230, 230, 230, 1);
}
